<h1>Migration of Employee Profile</h1>

<div class="row">
    <div class="col col-lg-3 col-md-3 col-sm-6">
        <div class="input-group">
            <select2 [data]="employeeData" (valueChanged)="selectedEmployee2($event)"></select2>
            <!-- <select name="oldEmp" id="oldEmp" (change)="selectedEmployee($event.target.value)" class="form-control">
                <option value="">Select Employee Profile</option>
                <option value="{{ item.EIC }}" *ngFor="let item of Employees">{{ item.lastName }}, {{ item.firstName }}
                </option>
            </select> -->
            <div class="input-group-btn" *ngIf="selectedEmployeeEIC">
                <button [swal]="{
                        title: 'CONFIRMATION',
                        text: 'Continue to migrate employee record?',
                        type: 'question',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, migrate it!'
                    }" 
                    (confirm)="MigrateEmployee()"
                    (cancel)="FetchOldEmployees()"
                    class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- <hr>
<div *ngIf="EmployeeProfile">
    <div class="row">
        <div class="col col-lg-3"><h4>Newly Migrated Employee Profile!</h4></div>
    </div>
    <div class="row">
        <div class="col col-lg-1"><b>Id No.:</b></div>
        <div class="col col-lg-2">{{ EmployeeProfile.idNo }}</div>
    </div>
    <div class="row">
        <div class="col col-lg-1"><b>Lastname:</b></div>
        <div class="col col-lg-2">{{ EmployeeProfile.lastName }}</div>
    </div>
    <div class="row">
        <div class="col col-lg-1"><b>Firstname:</b></div>
        <div class="col col-lg-2">{{ EmployeeProfile.firstName }}</div>
    </div>
</div> -->

<swal
    #SwalMigratedProfile
    title="New Profile Migrated"
    text="Id No"
    type="info"
    >
    <div *swalPartial class="row">
        <div class="col">{{ EmployeeProfile.idNo }}  {{ EmployeeProfile.lastName }}, {{ EmployeeProfile.firstName }} {{ EmployeeProfile.extName }}</div>
    </div>
</swal>